.copilot-textarea.with-branding::after {
    content: ''; /* Initially empty because we override this CSS dynamically and we want to avoid flashing */
    position: absolute;
}
    
  
.copilot-textarea.no-branding::after {
    content: '';
}